version: "3.9"

services:
  api:
    image: python:3.11-slim
    working_dir: /app
    command: bash -c "pip install --no-cache-dir -r requirements.txt && uvicorn api:app --host 0.0.0.0 --port 8000 --reload"
    volumes:
      - .:/app
    ports:
      - "8000:8000"

  streamlit:
    image: python:3.11-slim
    working_dir: /app
    command: bash -c "pip install --no-cache-dir -r requirements.txt && streamlit run streamlit.py --server.port=8501 --server.address=0.0.0.0"
    volumes:
      - .:/app
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api
    restart: unless-stopped
